* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-letra:  rgb(5, 43, 195);
}

body{
    background-color: rgb(237, 232, 225);
    line-height: 1.5;
    margin-top: 30px;
}

main{
    padding: 30px 80px;
}


h1 {
    font-size: 25px;
    text-align: center;
    color: var(--color-letra);
}

h2 {
    font-size: 18px;
    color: var(--color-letra);
}

h3 {
    font-size: 20px;
    margin-top: 25px;
    color: var(--color-letra);
}

ol > li::marker {
    color: var(--color-letra);
    font-weight: 700;
}

ol > li:last-child h2 {
    margin-top: 20px;
}

ul{
    padding-left: 40px;
    list-style-type: disc;
}

p, li{
    text-align: justify;
    padding-top: 10px;
    font-size: 18px;
}

a{
    text-decoration: none;
}
a:hover{
    color: rgb(40, 121, 227);
}

footer{
    display: flex;
    justify-content: center;
    padding: 20px;
}


@media (max-width: 700px) {
    main {
    padding: 5px 30px;
    }

    h1{
        font-size: 15px;
    }

    h2{
        font-size: 12px;
    }

    h3{
        font-size: 15px;
    }

    p, li{
        font-size: 12px;
    }

}