*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-principal: rgb(11, 11, 11); 
    --color-letras: rgb(241, 241, 241);
    --espaciado: 20px;
}

/* ========== FONT ========== */
@font-face {
    font-family: 'FuentePrincipal';
    src: url('../assets/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuenteSecundaria';
    src: url('../assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ========== Body ========== */
body{
    color: var(--color-letras);
    background-color: var(--color-principal);
    font-family: "FuentePrincipal";
    letter-spacing: 2px;

}

/* ========== Header ========== */
header{
    margin: var(--espaciado);
}

/* ========== Header Nav ========== */

.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0;
    position: relative;
    padding: 10px;
}

header a{
    text-decoration: none;
    color: var(--color-letras);
}

header img{
    width: 25px;
    display: none;
}

.menu-principal{
    display: flex;
    align-items: center;
    gap: var(--espaciado);
}

.menu-principal a:hover{
    transform: scale(1.1);
    color: #1ba5e5;
}

@media (max-width:480px){
    .boton-menu img{
        display: block;
    }

    .menu-principal{
        display: none;
        flex-direction: column;
        gap: 8px;
        background-color: #4e75b0;
        position: absolute;
        top: 100%;
        right: 0;
        left:0;
        padding: 15px 20px;
        box-shadow: 0 6px 10px rgba(243, 238, 238, 0.2);
        z-index: 100;
    }

    .menu-principal.menu-desplegado{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-principal a{
        padding: 10px 12px;
        font-size: 17px;
        color: var(--color-letras);
    }

    .menu-principal a:hover{
        color: #150707;
        transform: scale(1.15);
    }
}

/* ========== Main ========== */
main {
    margin: 80px;
}

/* ========== Seccion ========== */

section{
    margin-top: 200px;
}

/* ========== Seccion Contenido-Inicio ========== */

.contenido-inicio{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--espaciado);
    background-image: url("../assets/icons/fondo-img.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.mi-cara{
    width: 50%;
    display: flex;
    justify-content: center;
}

.mi-cara > img{
    width: auto;
    height: 250px;
    object-fit: cover;
    animation: aparecer 2s ease;
}

@keyframes aparecer{
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateY(0);
    }
}

.links-redes{
    display: flex;
    flex-direction: column;
    gap: var(--espaciado);
}

h1{
    font-size: 40px;
}

.titulo{
    text-align: center;    
    font-size: 20px;  
}

.titulo span:first-of-type {
    color: rgb(247, 65, 65);
}

.titulo span:last-of-type {
    color: rgb(67, 187, 252);
}

.logos-redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.manchuron-azul{
    z-index: 1;
    width: 250px;
    height: 80px;
}

.fotos-redes{
    width: 150px;
    height: 60px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fotos-redes > a img{
    z-index: 100;
    width: 25px;
    position: relative;
}

/* ========== Maquetado Para Moviles ========== */

@media (max-width:480px) { 
    main{
        margin: var(--espaciado);
    }
    
    .mi-cara > img{
        height: 170px;
    }

    h1{
        font-size: 25px;
    }
    .titulo{
        font-size: 15px;
    }

    .manchuron-azul{
        width: 200px;
        height: 50px;
    }

    .fotos-redes{
        justify-content: space-around;
    }

    .fotos-redes > a img{
        width: 20px;
    }
}

/* ========== Seccion Sobre Mi ========== */

.sobre-mi{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.contenido-sobre-mi{
    width: 68%;
    height: auto;
}

h2{
    text-decoration: underline;
    font-size: 40px;
}

.info-sobre-mi p{
    text-align: justify;
    padding-top: var(--espaciado);
    padding-right: var(--espaciado);
    font-size: 20px;
    padding-left: 40px;
}

.skills{
    width: 30%;
    height: 50%;    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: var(--espaciado);
}

.skills span{                       
    background-color: #3a3a3a;
    height: 40px;
    border-radius: 8px;
    letter-spacing: 0;
    font-family: "FuenteSecundaria";
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.skills span > img{
    width: 25px;
    object-fit: cover;
}

.rojo {
    color:#E51B23;
}

.blanco {
    color: #FFFFFF;
}

.azul {
    color: #1BE5DD;
}

@media (max-width:1000px) { 
    .sobre-mi{
        gap: var(--espaciado);
    }

    h2{
    font-size: 30px;
    }

    .info-sobre-mi p{ 
        padding-left: var(--espaciado);
    }

    .contenido-sobre-mi{
        height: 50%;
        width: 100%;
    }

    .skills{
        height: 50%;
        width: 100%;
    }
}

/* ========== Seccion Proyectos ========== */
.proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.proyectos > h2{
    align-self: flex-start;
}

.contenido-proyectos{
    padding-top: 100px;
    max-width: 55%;
    gap: var(--espaciado);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
}

@media (max-width:1360px){
    .contenido-proyectos{
        max-width: 80%;
    }
}

@media (max-width:1070px){
    .contenido-proyectos{
        max-width: 100%;
    }
}

.fotos{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenido-proyectos img{
    width: 225px;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
    z-index: 20;
    transition: opacity 0.55s ease-in-out, transform 0.3s;
}

.fotos:hover img{
    z-index: 1;
    opacity: 0.4;
    transform: scale(1.1);
}

.contenido-proyectos a{
    text-decoration: none;
    color: var(--color-letras);
    font-family: "FuenteSecundaria";
    font-size: 16px;
    background-color: #b30000;
    border-radius: 3px;
    letter-spacing: 0;
    border: 2px solid rgb(249, 177, 177);
    transition: background-color 0.5s ease-in-out; 
    z-index: 10;
    position: absolute;
    width: 140px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido-proyectos a:hover{
    z-index: 100;
    background-color: #4a0101;
}

@media (max-width:805px){
    .contenido-proyectos{
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
    
    .contenido-proyectos img{
        width: 180px;
        height: 130px;
    }
}

/* ========== Footer ========== */
footer{
    margin-top: 180px;
    margin-bottom: var(--espaciado);
    margin-left: var(--espaciado);
    margin-right: var(--espaciado);
}

.pie-pagina{
    width: auto;
    height: 100%;
    font-family: "FuenteSecundaria";
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    letter-spacing: 0;
}

.pie-pagina a{
    color: var(--color-letras);
    text-decoration: none;
}

.pie-pagina a:hover{
    color: rgb(65, 195, 246);
}

.volver-arriba img{
    width: 23px;
    transform: rotate(-90deg);
}

@media (max-width:800px){
    .pie-pagina{
        flex-direction: column;
        font-size: 10px;
        gap: 10px;
    }

    .volver-arriba img{
        width: 15px;
    }

    .volver-arriba{
        order: 1;
    }

    .email{
        order: 2;
    }

    .copyright{
        order: 3;
    }
}

@media (max-width:300px){
    .pie-pagina{
        gap: 6px;
        font-size: 6px;
    }

    .volver-arriba img{
        width: 12px;
    }
}