*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-principal: rgb(20, 20, 20); 
    --color-letras: rgb(232, 232, 232);
    --espaciado: 20px;
}

/* ========== FONT ========== */
@font-face {
    font-family: 'FuentePrincipal';
    src: url('../assets/fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ========== Body ========== */
body{
    color: var(--color-letras);
    background-color: var(--color-principal);
    font-family: "FuentePrincipal";
}

/* ========== Header ========== */
header{
    margin: var(--espaciado);
}

/* ========== Header Nav ========== */
/*TODO MENU HAMBURGUESA*/

.barra-inicio{
    display: flex-end;
    justify-content: space-between;
    align-items: center;
    padding: var(--espaciado);
}

nav img{
    width: 25px;
    display: none;
    align-items: center;
}

.contenido-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--espaciado);
    list-style: none;
}

header a{
    text-decoration: none;
    color: var(--color-letras);
}

/* ========== Contenido-Inicio ========== */
/*TODO ULTIMA REVISION*/

.contenido-inicio{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: var(--espaciado);
    gap: var(--espaciado);
    flex-wrap: wrap;
    background-image: url("/assets/icons/png-clipart-watercolor-painting-paint-splash-purple-blue-removebg-preview.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border: 2px solid red;

}

.mi-cara {
    width: 50%;
    display: flex;
    justify-content: center;
}

.mi-cara > img{
    width: auto;
    height: 300px;
    object-fit: cover;
    animation: aparecer 2s ease;
}

@keyframes aparecer {
    from{
        transform: translateX(-500px);
    }
    to{
        transform: translateY(0);
    }
}

.links-redes{
    gap: var(--espaciado);
    display: flex;
    flex-direction: column;
}

.titulo {
    text-align: center;    
    font-size: 22px;  

}

.titulo span:first-of-type {
    color: rgb(247, 65, 65);
}

.titulo span:last-of-type {
    color: rgb(67, 187, 252);
}

.logos-redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.manchuron-azul{
    z-index: 1;
    width: 280px;
    height: 120px;
}

.fotos-redes{
    width: 150px;
    height: 60px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fotos-redes > a img{
    z-index: 100;
    width: 35px;
    position: relative;
}

/* ========== Contenido-Inicio Maquetado Para Moviles ========== */

@media (max-width:480px) { 
    .contenido-nav{
        display: none;
    }

    nav img{
        display: inline;
    }

    .mi-cara > img{
        height: 200px;
    }

    .titulo{
        font-size: 20px;
    }
}

/* ========== Main ========== */
main {
    margin: var(--espaciado);
}

/* ========== Seccion Sobre Mi ========== */

.titulo-sobre-mi h2{
    text-decoration: overline; /*TODO Colocar bordes inferiores y superiores*/
}
.titulo-sobre-mi h2{
    text-decoration: underline;
}

.contenido-sobre-mi{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info-sobre-mi{
    text-align: justify;

}

.info-sobre-mi p{
    padding-top: var(--espaciado);
}

.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.skills span{
    background-color: #565555;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

/*TODO Media Query y Cambiar grid de columnas a filas*/

/* ========== Seccion Proyectos ========== */

/* ========== Seccion Formulario ========== */

/* ========== Footer ========== */